* {
    margin: 0;
    padding: 0;
}

body {
    background-color: azure;
    color: cadetblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.6em;
}

.header {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 1em;
    border-bottom: 2px solid cadetblue; 
}

.header img {
    width: 4em;
}

.header h1 {    
    font-size: 50px;
    margin-left: 1em;
}

.panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid cadetblue; 
    position: relative;
    padding: 2em;
}

#searchBox {
    width: 20%;
    border: 3px solid cadetblue;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

#searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid cadetblue;
    background: cadetblue;
    text-align: center;
    color: azure;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.check-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1em;
    padding: 1em;
}

.resultPanel {
    display: flex;
    flex-direction: row;
    justify-content:right;
    align-items:center;
    
    padding: 2em;
}

.resultCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    border: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 2em auto;    
    max-width: 33%;
    min-width: 10em;
    max-height: 50em;
    padding: 1em;
}

.resultCard h5 {
    text-align: center;
}

