* {
    margin: 0;
    padding: 0;
}

body {
    background-color: azure;
    color: cadetblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.6em;
}

.header {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 1em;
    border-bottom: 2px solid cadetblue; 
}

.header img {
    width: 4em;
}

.header h1 {    
    font-size: 50px;
    margin-left: 1em;
}

.search-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid cadetblue; 
}

.check-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    margin-left: 1em;
    padding: 1em;
}

